.diagonal-features {
      background: linear-gradient(135deg, #212529 20%, #ffffff 40%);
  }

  .diagonal-festivals {
      background: linear-gradient(135deg, #ffffff 20%, #0d1b2a 40%);
  }

  @media (max-width: 768px) {
      .diagonal-features {
          background: linear-gradient(135deg, #212529 calc(10% - 1px), #ffffff 20%);
      }
      .diagonal-festivals {
          background: linear-gradient(135deg, #ffffff calc(10% - 1px), #0d1b2a 20%);
      }
  }